body{
  background-color: rebeccapurple;
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
}
#mainDiv{
  background-color: whitesmoke;
  margin:10% auto auto 22%;
  width: 50%;
  height: 52vh;
  border-radius: 10px;
  justify-content: center;
  padding: 10px;
}

#mainDiv > h1{
  text-align: center;
  font-size: 32px;
  margin: 10px auto 22px auto;
}

#passwordField{
  display: flex;
  margin-top: 32xpx;
  justify-content: center;
}

#passwordField > input{
  height: 40px;
  width: 60%;
  border-radius: 10px;
  border: solid gray;
  font-size: 16px;
}

ul > li{
  font-size: 18px;
  margin: 4px auto;
  font-weight: 100;
  align-items: center;
}

#passwordStrength{
  text-align: center;
}

.weak{
  background-color: red;
  border-radius: 10px;
  padding: 8px;
}

.medium{
  background-color: yellow;
  border-radius: 10px;
  padding: 8px;
}

.strong{
  background-color: green;
  border-radius: 10px;
  padding: 8px;
}

.veryStrong{
  background-color: greenyellow;
  border-radius: 10px;
  padding: 8px;
}

img{
  width: 22px;
}